<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Culture" value="ru-RU"/>
    <add key="DafaultFolder" value="C:\Users\"/>
    <add key="Paths" value="C:\Users\Yury_Samaradau\Desktop\mentoring2018\BCL"/>
    <add key="AddDateToName" value="true"/>
  </appSettings>
  
</configuration>
